{
  "service": {
    "id": "river",
    "name": "web",
    "tags": ["release"],
    "address": "{{ ansible_eth1.ipv4.address }}",
    "port": {{river_port}},
    "checks": [
      {
        "script": "/opt/consul_checks/check_river.sh",
        "interval": "10s"
      }
    ]
  }
}
